@media (max-width:1920px)	{


}

@media (max-width:1440px)	{


}

@media (max-width:1366px)	{


}

@media (max-width:1270px)	{
    .firstPictureHead {
        width: 504px;
        height: 564px;
        background-size: 100% 100%;
        left: 410px;
    }
    h1 {
        width: 461px;
        font-size: 64px;
        margin: 48px 0 0 112px;
    }
    .litleGrayHead {
        width: 461px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .litleBoldBlackHead{
        width: 461px;
        height: 60px;
        font-size: 14px;
    }
    .bigStyleHead{
        width: 428px;
        height: 116px;
        font-size: 20px;
        line-height: 24px;
    }
    .opacityTextOne{
        width: 445px;
        height: 143px;
        background-size: 100% 100%;
    }
    .opacityTextTwo{
        width: 397px;
        height: 80px;
        background-size: 100% 100%;
    }
    .opacityTextThree {
        width: 352px;
        height: 80px;
        background-size: 100% 100%;
        margin: 0 0 0 220px;
    }
    .secondPictureHead{
        height: 326px;
        width: 344px;
        background-size: 100% 100%;
        left: 463px;
        top: 374px;
    }
    .opacityHead{
        top: 310px;
    }
    nav{
        justify-content: flex-start;
    }
    .first_nav_block{
        margin-left: 110px;
    }
    .second_nav_block{
        margin-left: 52px;
    }
    .three_nav_block{
        margin-left: 117px;
    }

    /*Info section */
    .infoForVisitor{
        height: 568px;
    }
    .WrapperHead{
        margin: 0 auto ;
        max-width: 1024px;
        min-height: 642px;
    }
    .WrapInfoIMG{
        margin: 36px 0 0 0;
        height: 362px;
    }
    .WrapInfoIMG::before{
        height: 362px;
    }
    .infoSectionImg1{
        width: 323px;
        height: 323px;
        top: 21px;
        right: calc(-323px / 2);
    }
    .infoSectionImg1Substrate{
        width: 362px;
        height: 362px;
        left: calc(100% - 181px);
    }
    .infoSectionImg2{

    }
    .infoSectionImg2Substrate{
        height: 170px;
        width: 170px;
        left: calc(100% + 35px);
        top: calc(100% - 164px);
    }
    .infoSectionImg2{
        width: 158px;
        height: 158px;
        top: calc(100% - 158px);
        left: calc(100% + 41px);
    }
    .wrapInfoForVisitor{
        width: 323px;
        left:  calc(100vw - 480px);
        top: 31px;
    }
    .wrapInfoForVisitor h2{
        width: 323px;
        font-size: 24px;
    }
    .wrapInfoForVisitor p{
        width: 323px;
        margin: 24px 0 0 0;
    }
     /*howHelp section*/

    .howHelpCard{
        height: 190px;
        width: 140px;
    }
    .how_help_img svg{
        height: 60px;
        width: 62px;
        margin: 24px 0 0 24px;
    }
    .how_help_img{
        width: 110px;
        height: 110px;
        margin: 0 0 0 28px;
    }
    .how_help_img a{
        width: 110px;
        height: 110px;
    }
    .howHelpCard p{
        font-size: 16px;
        line-height: 20px;
        width: 140px;
        height: 60px;
    }
    .howHelpHeading{
        font-size: 24px;
        padding: 64px 0 0 0;
    }
    .wrapperCard{
        margin: 32px 0 0 0;
    }
    .howHelp{
        min-height: 434px;
    }
    .howHelpCenterIMG{
        height: 97px;
        width: 158px;
        left: calc(50% - 79px);
        top: 50px;
    }
    .howHelpCenterIMG:before{
        width: 100px;
        height: 97px;
        left: calc(100% - 128px);
    }
    .pet_Сhoice_Option{
        margin: 110px 0 0 0;
        height: 266px;
        width: 275px;
    }
    .petСhoice {
        overflow-x: hidden;
    }
    .SectionCenter article{
        justify-content: space-evenly;
    }
    .pet_Сhoice_Option h3{
        width: 275px;
        height: 64px;
    }
    .pet_Сhoice_Option p{
        width: 275px;
    }
    .listPet h3{
        width: 254px;
        font-size: 24px;
        margin: 48px auto 0 auto;
    }
    .petChoiseLast p{
        height: 44px;
        font-size: 16px;
        margin: 61px 0 75px 0;
    }
    .margin65-0-0-35{
        margin: 55px 0 0 35px;
    }

    /*finance section*/
    .financeBottom {
        min-height: 77px;
    }
    .frontImgFinance {
        width: 158px;
        height: 126px;
        top: 30px;
        left: calc(50vw - 79px);
    }
    .frontImgFinance::before {
        width: 118px;
        height: 86px;
        left: 26px;
    }
    .financeWraper {
        margin: 87px auto 0 auto;
    }
    .financeWraper h4 {
        width: 530px;
        font-size: 24px;
    }
    .financeWraper > p {
        width: 530px;
        font-size: 16px;
        margin: 16px auto 0 auto;
    }
    .financeListInfo {
        width: 275px;
        margin: 80px 0 0 0;
    }
    .financeListInfo p{
        height: 24px;
        width: 275px;
        font-size: 24px;
    }
    .financeListInfo ul {
        height: 141px;
        max-width: 275px;
    }
    .financeListInfo ul li {
        font-size: 14px;
    }
    .financeListAdress{
        width: 275px;
        margin: 80px 0 0 0;
    }
    .point {
        height: 24px;
        width: 274px;
        font-size: 24px;
    }
    .financeListAdress ul li {
        font-size: 14px;
    }
    .financeListAdress ul {
        height: 300px;
        max-width: 275px;
        list-style: none;
        padding-left: 0;
        margin: 24px 0 0 0;
    }
    .seeMap {
        margin: 40px 0 41px 0;
    }

    /* Things Section*/
    .frontImgThings {
        width: 158px;
        left: calc(50% - 79px);
        top: 45px;
    }
    .frontImgThings::before {
        width: 118px;
        height: 86px;
        top: calc(50% - 55px);
        left: calc(50% - 59px);
    }
    .things article {
        max-width: 490px;
        margin: 87px auto 0 auto;
    }
    .thingFeed h4 {
        font-size: 24px;
    }
    .thingFeed ul {
        max-width: 4810px;
        height: 178px;
    }
    .thingMedicines h4{
        font-size: 24px;
    }
    .thingOther h4 {
        font-size: 24px;
    }

    .thingsBottom {
        min-height: 102px;
    }

    /* AutoHelp Section*/

    .frontImgCarHelp{
        left: calc(50vw - 79px);
        width: 158px;
    }
    .frontImgCarHelp::before {
        width: 110px;
        height: 110px;
        top: 0;
        left: calc(50% - 50px);
    }
    .carHelp article {
        max-width: 481px;
        margin: 68px auto 0 auto;
    }
    .carHelp h4 {
        font-size: 24px;
    }
    .car_help_position_button {
        margin-top: 38px;
    }

    /* Volunteering Section*/


    .VolunteeringBottom {
        min-height: 80px;
        border-bottom: 1px solid #EEBF3A;
    }
    .frontImgVolunteering {
        width: 158px;
        height: 126px;
        top: 30px;
        left: calc(50vw - 79px);
    }
    .frontImgVolunteering::before{
        width: 100px;
        height: 108px;
        background-size: 100% 100%;
        left: calc(50% - 55px);
    }
    .wrapVolunteering {
        margin: 87px auto 0 auto;
        min-height: 431px;
    }
    .VolunteeringText {
        max-width: 323px;
        padding-top: 0px;
        margin: 0 0 162px 525px;
    }
    .VolunteeringText h4 {
        font-size: 24px;
    }
    .VolunteeringText span {
        padding: 1px 0 29px 0;
    }
    .VolunteeringIMG1 {
        width: 348px;
        height: 348px;
        right: calc(-348px / 2);
        top: 23px;
        left: 88px;
    }
    .VolunteeringIMG1Substrate {
        width: 390px;
        height: 390px;
        left: 70px;
    }
    .VolunteeringIMG1Substrate::before {
        height: 390px;
        right: 50%;
    }

    /* News Section*/

    .news h4 {
        font-size: 24px;
        margin: 36px 0 0 0;
    }
    .novelty {
        margin-top: 26px;
    }
    .novelty img {
        width: 130px;
        height: 130px;
    }
    .allNews {
        margin: 25px 0 36px 0;
    }

    /* News Section*/

    .we article {
        padding-top: 48px;
    }
    .we h4 {
        font-size: 24px;
    }
    .weHead {
        font-size: 16px;
    }
    .weBody {
        max-width:481px;

        font-size: 14px;
    }
    .weSocial {
        margin-top: 32px;
        padding-bottom: 40px;
    }
    .weHead {
       max-width:481px;
    }
    /* thank Section*/

    .thank {
        height: 555px;
    }
    .darkened {
        width: 460px;
        height: 390px;
        margin-top: 89px;
        background-size: 100% 100%;
    }
    .thankText p {
        width: 259px;
        height: 118px;
        font-size: 48px;
        line-height: 58px;
        top: 227px;
        left: 100px;
    }
    .thankText::after {
        width: 67px;
        height: 67px;
        top: 279px;
        left: 368px;
        background-size: 100% 100%;
    }


    /* footer Section*/

    footer {
        min-height: 101px;
    }
    .wrap-footer-list {
        flex-direction: column;
    }
    .about-footer {
        padding-left: 0;
    }
    .wrap-footer-list ul {
        padding: 24px 0 0 0;
    }
    .bold-text-footer{
        margin-left: 89px;
    }
    .wrap-footer-list ul li {
        margin-left: 29px;
    }
    .about-footer{
        margin-left: 89px;
    }
    .copy {
        padding-bottom: 0;
        margin: 0;
        position: absolute;
        top: 67px;
        left: 75%;
    }

}

@media (max-width:1024px)	{
    h1 {
        width: 311px;
        font-size: 42px;
        margin: 3px 0 0 110px;
    }
    .litleGrayHead {
        width: 311px;
        height: 32px;
        font-size: 14px;
        margin: 6px 0 0 110px;
    }
    .litleBoldBlackHead {
        width: 311px;
        height: 80px;
        font-size: 14px;
        margin: 8px 0 0 110px;
    }
    .bigStyleHead {
        width: 204px;
        height: 114px;
        font-size: 16px;
        margin: 40px 0 0 110px;
        line-height: 19px;
    }
    .opacityHead {
        top: 193px;
    }
    .opacityTextOne {
        width: 340px;
        height: 110px;
        background-size: 100% 100%;
    }
    .opacityTextTwo {
        width: 304px;
        height: 61px;
        background-size: 100% 100%;
    }
    .opacityTextThree {
        width: 270px;
        height: 61px;
        background-size: 100% 100%;
        margin: 0 0 0 151px;
    }
    .firstPictureHead {
        width: 344px;
        height: 385px;
        background-size: 100% 100%;
        left: 314px;
    }
    .secondPictureHead {
        height: 222px;
        width: 235px;
        background-size: 100% 100%;
        left: 350px;
        top: 256px;
    }
    .WrapperHead {
        min-height: 535px;
        max-width: 768px;
    }
    nav {
        justify-content: flex-end;
    }
    .second_nav_block{
        display: none;
    }
    .first_nav_block{
        display: none;
    }
    .three_nav_block {
        top: 24px;
        margin: 0 157px 0 0;
    }
    .circleSochNav {
        width: 40px;
        height: 40px;
    }
    .VkLogoNav {
        top: 12px;
        left: 7px;
        width: 25px;
        height: 15px;
    }
    .instLogoNav {
        position: absolute;
        top: 8px;
        left: 9px;
        width: 22px;
        height: 22px;
    }
    .circleSochNav::after {
        width: 50px;
        height: 50px;
        left: -5px;
        top: -5px;
    }
    .burger{
        display:block;
        position: absolute;
        top: 34px;
        left: 115px;
    }

/*InfoForVisitor section*/

    .WrapInfoIMG {
        margin: 24px 0 0 0;
        height: 273px;
        max-width: 204px;
    }
    .wrapInfoForVisitor {
        width: 264px;
        left: 408px;
        top: 0;
    }
    .wrapInfoForVisitor h2 {
        width: 100%;
        font-size: 20px;
    }
    .wrapInfoForVisitor p {
        width: 100%;
        margin: 24px 0 0 0;
        font-size: 14px;
    }
    .infoForVisitor {
        height: 500px;
    }
    .infoSectionImg1 {
        width: 244px;
        height: 244px;
        top: 16px;
        right: calc(-244px / 2);
    }
    .infoSectionImg1Substrate {
        width: 273px;
        height: 273px;
        left: calc(100% - 137px);
    }
    .infoSectionImg2Substrate {
        height: 129px;
        width: 129px;
        left: 226px;
        top: 148px;
    }
    .infoSectionImg2 {
        width: 120px;
        height: 120px;
        top: calc(100% - 120px);
        left: calc(100% + 26px);
    }

    /*howHelp section*/


    .howHelp {
        min-height: 617px;
    }
    .wrapper_card {
        margin: 32px 0 0 0;

    }
    .wrapper_card {
        width: 518px;
        margin: 32px auto 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .howHelpCenterIMG {
        height: 97px;
        width: 114px;
        left: calc(50vw - 57px);
        top: 44px;
    }
    .howHelpCenterIMG:before {
        width: 74px;
        height: 62px;
        left: calc(100% - 92px);
        top: calc(50% - 30px);
    }

    /*pet_Сhoice section*/
    .pet_Сhoice_Option {
        margin: 71px 0 0 0;
        height: 302px;
        width: 275px;
    }
    .pet_Сhoice_Option h3 {
        width: 189px;
        height: 54px;
        font-size: 24px;
        margin: 4px 0 0 0;
    }
    .pet_Сhoice_Option p {
        width: 190px;
        font-size: 14px;
    }
    .petChoiseLast p {
        width: 379px;
        height: 60px;
        font-size: 14px;
        margin: 53px 0 74px 0;
        line-height: 20px;
    }
    .circleSoch {
        width: 32px;
        height: 32px;
    }
    .circleSoch a {
        height: 32px;
        width: 32px;
    }
    .VkLogo {
        top: 11px;
        left: 5px;
        width: 20px;
        height: 12px;
    }
    .circleSoch::after {
        width: 40px;
        height: 40px;
        left: -4px;
        top: -4px;
    }
    .instLogo {
        top: 6px;
        left: 6px;
        width: 20px;
        height: 20px;
    }
    .pet_choise_Soc_control{
        margin: 64px 0 0 0px;

    }
    /*finance section*/

    .financeBottom {
        min-height: 43px;
    }
    .frontImgFinance {
        width: 114px;
        height: 74px;
        top: 0;
        left: calc(50vw - 57px);
    }
    .frontImgFinance::before {
        width: 55px;
        height: 40px;
        left: 30px;
        top: 20px;
    }
    .financeWraper {
        margin: 51px auto 0 auto;
    }
    .financeWraper h4 {
        width: 358px;
        font-size: 20px;
    }
    .financeWraper > p {
        width: 358px;
        font-size: 16px;
    }
    .financeListInfo {
        width: 237px;
        margin: 40px 0 0 0;
    }
    .financeListInfo p {
        height: 24px;
        width: 237px;
        font-size: 20px;
    }
    .financeListInfo ul {
        height: 151px;
        max-width: 275px;
    }
    .financeListInfo ul {
        height: 164px;
        max-width: 237px;
        margin: 24px 0 29px 0;
    }
    .financeListAdress {
        width: 237px;
        margin: 40px 0 0 0;
    }
    .point {
        height: 24px;
        width: 337px;
        font-size: 20px;
    }
    .financeListAdress ul {
        height: 320px;
        max-width: 237px;
    }
    .seeMap {
        margin: 32px 0 20px 0;
    }

    /*things section*/

    .thingsBottom {
        min-height: 63px;
    }
    .frontImgThings {
        width: 114px;
        left: calc(50% - 57px);
        top: 45px;
        height: 50px;
    }
    .frontImgThings::before {
        width: 54px;
        height: 44px;
        top: calc(50% - 34px);
        left: calc(50% - 25px);
    }
    .thingFeed h4 {
        font-size: 20px;
    }
    .thingFeed {
        min-height: 216px;
        max-width: 399px;
    }
    .thingFeed ul {
        max-width: 4810px;
        height: 160px;
        font-size: 14px;
        line-height: 140%;
    }
    .thingFeed ul li {
        padding-top: 0;
    }
    .thingMedicines h4 {
        font-size: 20px;
    }
    .thingMedicines p {
        max-width: 398px;
        font-size: 14px;
    }
    .thingOther h4 {
        font-size: 20px;
    }
    .thingOther ul {
        max-width: 398px;
        font-size: 14px;
    }
    .thingsBottom {
        min-height: 85px;
    }
    .thingsBottom {
        min-height: 85px;
    }
    .frontImgCarHelp {
        left: calc(50vw - 57px);
        width: 114px;
    }
    .frontImgCarHelp::before {
        width: 74px;
        height: 55px;
        top: 30px;
        left: calc(50% - 36px);
    }
    .carHelp article {
        max-width: 398px;
        margin: 52px auto 0 auto;
    }
    .carHelp h4 {
        font-size: 20px;
    }
    .carHelp p {
        font-size: 14px;
    }

    /*Volunteering section*/

    .VolunteeringBottom {
        min-height: 62px;
    }

    .frontImgVolunteering {
        width: 114px;
        left: calc(50vw - 55px);
        height: 70px;
    }
    .frontImgVolunteering::before {
        width: 76px;
        height: 62px;
        background-size: 100% 100%;
        left: calc(50% - 37px);
    }

    .wrapVolunteering {
        margin: 67px auto 0 auto;
        min-height: 536px;
        max-width: 768px;
    }
    .VolunteeringIMG1 {
        width: 270px;
        height: 270px;
        right: 0;
        top: 17px;
        left: 88px;
    }
    .VolunteeringIMG1Substrate {
        width: 300px;
        height: 300px;
        left: 70px;
    }
    .VolunteeringIMG1Substrate::before {
        height: 300px;
        right: 50%;
    }
    .VolunteeringText h4 {
        font-size: 20px;
    }
    .VolunteeringText p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        color: #242424;
        margin: 24px 0 24px 0;
    }
    .VolunteeringText {
        max-width: 217px;
        margin: 0 0 0px 398px;
    }



    .news h4 {
        margin: 24px 0 0 0;
    }
    .novelty {
        justify-content: center;
    }
    .novelty p {
        font-size: 14px;
        margin: 0 0 0 16px;
        width: 304px;
    }
    .novelty span {
        padding-top: 0px;
    }
    .novelty img {
        width: 104px;
        height: 104px;
        margin: 18px 0 0 0 ;
    }
    .news article {
        max-width: 426px;
    }



}
/*
@media (max-width:768px)	{


}

@media (max-width:640px)	{


}

@media (max-width:360px)	{


}
*/