*{box-sizing: border-box;}

body{
    font-family: "Gilroy","Arial", sans-serif;
}
.clearfix { clear: both; }

.formWrapper{
    width: 445px;
    margin: 0 auto 0 auto;
}
.formWrapperVolunteer{
    width: 502px;
        margin: 0 auto 0 auto;
}
.captionForm {
    border-bottom: 1px solid #EEBF3A;
    padding: 30px 0 8px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
   }

.captionForm p {
    margin: 0;
    height: 36px;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #B3B3B3;
    }

.captionForm svg {
    width:16px;
    height:16px;
    cursor: pointer;
}
.backgroundWrapper{
    background: #FFFFFF;
    box-shadow: 0 0 22px rgba(161, 161, 161, 0.25);
    border-radius: 5px;
    height: 735px;
    width: 525px;
    position: relative;
z-index: 1;
}
.backgroundWrapperTemporary{
    background: #FFFFFF;
    box-shadow: 0 0 22px rgba(161, 161, 161, 0.25);
    border-radius: 5px;
    height: 834px;
    width: 525px;
    position: relative;
    z-index: 1;
}
.backgroundWrapperAutoHelp{
 min-height: 962px;
width: 525px;
background: #FFFFFF;
box-shadow: 0 0 22px rgba(161, 161, 161, 0.25);
border-radius: 5px;
position: relative;
z-index: 1;
}
.backgroundWrapperVolunteer{
    height: 634px;
width: 582px;
background: #FFFFFF;
box-shadow: 0 0 22px rgba(161, 161, 161, 0.25);
border-radius: 5px;
position: relative;
    z-index: 1;
}
/*
background: #FFFFFF;
box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
border-radius: 5px;
}*/
.descriptionAnimal{
    padding-top: 18px;
}
.descriptionAnimal img {
    height: 90px;
    width: 90px;
    background: #E5E5E5;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    float: left;
}
.descriptionAnimal h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #000000;
    padding: 21px 0 0 104px;
    margin: 0;
}
.descriptionAnimal p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B6B6B;
    padding: 8px 0 0 104px;
    margin: 0;
}
.descriptionAutoHelp{
    padding-top: 16px;
}
.descriptionAutoHelp h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    align-items: center;
    color: #242424;
    margin: 0;

}
.infoVolunteerHelp{
width: 502px;
height: 42px;
font-size: 16px;
line-height: 140%;
align-items: center;
color: #6B6B6B;
margin: 8px 0 0 0 ;
}
.infoHelp {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #6B6B6B;
    margin: 49px 0 0 0 ;
    padding: 0;
    height: 67px;
    width: 402px;
}
.infoAutoHelp {
    width: 402px;
    height: 67px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #6B6B6B;
    margin: 16px 0 0 0 ;
}
.formName{
    margin: 32px 0 0 0 ;
    height: 40px;
    width: 445px;
     background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px 17px 10px 16px;
}
#volunteerArea, #volunteerPhone, #volunteerName {
    width: 502px;
 }
.DisainPlaceholder::placeholder   {
    height: 20px;
    width: 412px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B6B6B;
    opacity: 0.7;
}

.formPhone{
    margin: 16px 0 0 0 ;
    height: 40px;
    width: 445px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    padding: 10px 17px 10px 16px;
}
.controlLabel{
    height: 20px;
    width: 237px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #B3B3B3;
    margin: 2px 0 0 16px;
}



.choiseTime p{
       height: 20px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    margin: 22px 0 0 0 ;
}
.wrapData{
height: 40px;
width: 267px;
background: #FFFFFF;
border: 1px solid #D6D6D6;
border-radius: 4px;
margin: 16px 0 0 0;
}
.wrapTime{
height: 40px;
width: 170px;
background: #FFFFFF;
border: 1px solid #D6D6D6;
border-radius: 2px;
margin: 16px 0 0 0;
}
.addTime{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #6B6B6B;
    margin: 8px 0 0 0 ;
    
}
.addTime a{
height: 20px;
width: 20px;
background: #18A0FB;
text-decoration: none;
display: inline-block;
font-size: 20px;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
.addTime span {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #6B6B6B;
vertical-align: top;
margin: 0 0 0 12px ;
}
.formArea{
    height: 76px;
    width: 445px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    margin: 22px 0 0 0;
    padding: 8px 17px 46px 16px;
    max-height: 76px;
    min-height: 76px;
    max-width: 445px;
    min-width: 445px;
}
.formAreaVoluneer{
    height: 76px;
    width: 445px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    margin: 22px 0 0 0;
    padding: 8px 17px 46px 16px;
    max-height: 76px;
    min-height: 76px;
    max-width: 502px;
    min-width: 502px;
}
.infoForm {
width: 445px;
height: 82px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #474747;
margin: 24px 0 0 0;
}
.info{
width: 445px;
height: 73px;
left: 40px;
bottom: 110px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
color: #B3B3B3;
margin: 16px 0 0 0 ;
}
.info span {
    margin: 5px 0 0 0;
    display: block;
}


/*   */
.form_button_take_home {
    height: 32px;
    width: 158px;
    border: 1px none white;
    cursor: pointer;
    position: relative;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}
.form_button_take_home span {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin: auto ;
}
.form_button_take_home:after{
    content: '';
    display: block;
    width: 168px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
}
.form_button_take_home:after:hover{
    background: linear-gradient(180deg, #FFDC81 0%, #E6AA00 100%);
    box-shadow: 7px 7px 16px #E0E0E0, -3px -4px 8px #FFFFFF, inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}
.form_button_take_home:hover{
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.form_button_take_home:after:active{
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}
.form_button_take_home:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.form_button_take_home:disabled {
    background: #FFE7A2;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.form_button_take_home:after:disabled{
    background: #FEE39E;
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}
.form_button_take_home span:disabled{
    color: #6B6B6B;
    opacity: 0.7;
}


.formButton {
    height: 32px;
    width: 224px;
    border: 1px none white;
    cursor: pointer;
    position: relative;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}
.formButton span {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 32px;
margin: auto ;
}
.formButton:after{
    content: '';
    display: block;
    width: 234px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
}
.formButton:after:hover{
    background: linear-gradient(180deg, #FFDC81 0%, #E6AA00 100%);
    box-shadow: 7px 7px 16px #E0E0E0, -3px -4px 8px #FFFFFF, inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}
.formButton:hover{
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.formButton:after:active{
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}
.formButton:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.formButton:disabled {
    background: #FFE7A2;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.formButton:after:disabled{
    background: #FEE39E;
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}
.formButton span:disabled{
    color: #6B6B6B;
    opacity: 0.7;
}
.shapeCheck{
    width: 18px;
    height: 18px;
    background: #FFFFFF;    
    border: 1px solid #B3B3B3;
    border-radius: 2px;
    margin: 11px 0 0 1px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.nameCheck{
    display: inline-block;
    margin: 0 0 0 12px ;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 100%;
color: #6B6B6B;
vertical-align: text-top;
}

.exitForm{
    height: 32px;
    width: 133px;
    border: 1px none white;
    cursor: pointer;
    position: relative;
    background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
    border-radius: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}
.exitForm:after{
    content: '';
    display: block;
    width: 143px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: -1;
    background: #F6F6F6;
    box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
}
.exitForm:hover{
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
}
.exitForm:active{
    background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
}
.exitForm:disabled{
    background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
}
.disainExit {
padding: 0 0 0 44px;
}
.flexaAgle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.marginTop32px {
    margin-top: 32px;
}
.marginTop41px {
    margin-top: 41px;
}
.form_radio{
    margin: 7px 0 0 0 ;
}
.checkOther{
    margin: 19px 0 0 0;
}

.form_radio label {
    height: 40px;
    width: 375px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #6B6B6B;
    margin: 0;
    display: inline-flex;
    user-select: none;
    cursor: pointer;
    align-items: center;
}

.control_label_check:focus{
    outline: 3px solid red;  
}
/* создание в label псевдоэлемента  before со следующими стилями */
.control_label_check::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #F9B800;
    border-radius: 50%;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.shapeCheck:not(:disabled):not(:checked)+label:hover::before {
    border: 1px solid #F9B800;
    box-shadow: 3px 3px 4px rgba(113, 113, 113, 0.05), inset 3px 3px 2px rgba(189, 188, 188, 0.24);
}

/* стили для активной радиокнопки (при нажатии на неё) */
.form_radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для радиокнопки, находящейся в фокусе */
.shapeCheck:focus+label::before {
    border: 1px solid #F9B800;
    box-shadow: 3px 3px 4px rgba(113, 113, 113, 0.05), inset 3px 3px 2px rgba(189, 188, 188, 0.24);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.shapeCheck:focus:not(:checked)+label::before {
    border: 1px solid #F9B800;
    box-shadow: 3px 3px 4px rgba(113, 113, 113, 0.05), inset 3px 3px 2px rgba(189, 188, 188, 0.24);
}

/* стили для радиокнопки, находящейся в состоянии checked */

.shapeCheck:checked + label::before {
    background: linear-gradient(149.04deg, #F9B800 22.92%, #FFD45B 81.94%);
    border: 1px solid #F9B800;
    box-shadow: 2px 2px 4px rgba(201, 201, 201, 0.25), inset 3px 3px 4px #ECAF01;
    background-image: radial-gradient(circle closest-side at center, #fff 5px, #F9B800 1px, #FFD45B 81.94%);
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.shapeCheck:disabled+label::before {
    background-color: #e9ecef;
}


