body{
    font-family: Gilroy;
    box-sizing: border-box;
}
.margin_auto {
    margin: 0 auto;
}
.margimLeft30px{
    margin-left: 30px;
}
.margimLeft34px{
    margin-left: 34px;
}
.margimLeft45px{
    margin-left: 45px;
}
.margimLeft115px{
    margin-left: 115px;
}
.margimLeft7px {
    margin-left: 7px;
}
.marginTop23px{
    margin-top: 23px;
}
.pet_choise_Soc_control {
margin: 65px 0 0 35px;
}
.marginTop29px{
}
.marginTop49px{
    margin-top: 49px;
}
.relative{
    position: relative;
}
.top37px{
}
.flexConteiner{
    display: flex;
}
.justifyCenter{
    justify-content: center;
}
.car_help_position_button{
    margin-top: 29px;
}
header{
background: #f6f6f6;
position: relative;
z-index: 1;
}
.WrapperHead{
    position: relative;
    min-height: 820px;
    max-width: 1258px;
    margin: 0 auto 0 auto;
}
.absolut{
    position: inherit;
}
.burger{
    display: none;
    position: absolute;
    top: 34px;
    left: 115px;
}
.burger svg{
    width: 30px;
    height: 20px;
}
.second_nav_block{

}
.button_head_help_position{
    margin-top: 49px;
    margin-left: 115px;
}
.three_nav_block{
    top:37px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav ul {
    padding: 0;
}
.styleList {
    list-style: none;
    margin: 54px 0 0 0 ;
}
.styleList li{
    display: inline;
}
.styleList a {
text-decoration: none;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #242424;
}
.styleList img {
vertical-align: middle;
}

.circleSocial::before{
content: '';
display: block;
width: 49px;
height: 49px;
border: 2px solid #FFFFFF;
border-radius: 50%;
position: absolute;
top: 40px;
left: 1041px;
}
.circleSocial::after{
    content: '';
    display: block;
    width: 49px;
    height: 49px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 1119px;
    }
.firstPictureHead{
position: absolute;
width: 718px;
height: 713px;
left: 540px;
top: 0;
border-radius: 0 0 8px 8px;
background:url('../img/dog1.png') no-repeat ;
z-index: -1;
}
.secondPictureHead{
position: absolute;
width: 483px;
height: 469px;
left: 609px;
top: 470px;
background: url('../img/cat1.png') no-repeat;
}
h1 {
width: 659px;
height: 77px;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 87px;
color: #242424;
margin: 90px 0 0 112px;
}
.litleGrayHead{    
width: 659px;
height: 18px;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
color: #6B6B6B;
margin: 2px 0 0 112px;
}
.litleBoldBlackHead {
width: 659px;
height: 44px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
color: #474747;
margin: 12px 0 0 112px;
}
.bigStyleHead{
width: 428px;
height: 116px;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #C78100;
margin: 43px 0 0 112px;
}
.WrapTextHead{
    position: absolute;
    z-index: 2;
}
.opacityHead{

    position: absolute;
    top: 370px;
}
.opacityTextOne{
width: 599px;
height: 192px;
opacity: 0.5;
background: url('../img/can.png') no-repeat;
}
.opacityTextTwo{
    width: 534px;
    height: 107px;
    background: #FFFFFF;
    opacity: 0.6;
    background: url('../img/best.png') no-repeat;
}
.opacityTextThree{
    width: 474px;
    height: 107px;
    background: #FFFFFF;
    opacity: 0.5;
    background: url('../img/friend.png') no-repeat;
    margin: 0 0 0 298px;
}
.infoForVisitor{
height: 650px;
background-color: #FFFFFF;
}
.wrapInfoForVisitor{
    position: absolute;
    left: calc(100% + 342px);
    top: 74px;
    width: 465px;
}
.wrapInfoForVisitor h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #C78100;
    margin: 0;
}
.wrapInfoForVisitor p {
   
font-size: 16px;
line-height: 140%;
color: #242424;
    margin: 28px 0 0 0;

}
.infoSectionImg1{
    position: absolute;
    width: 464px;
    height: 464px;
    border-radius: 50%;
    background: url('../img/Ellipse 25.png') no-repeat #EEBF3A;
    right: calc(-464px / 2);
    top: 31px;
    z-index: 2;
    background-size: 100% 100%;
}
.infoSectionImg1Substrate{
width: 521px;
height: 521px;
background: url('../img/EllipseInfo1.png') no-repeat; 
position: absolute;
left: calc(100% - 261px);
    background-size: 100% 100%;
}
.WrapInfoIMG{
height: 521px;
max-width: 317px;
width: 100%;
background: #FAC832;
margin: 54px 0 0 0;
position: relative;
z-index: 0;
}
.WrapInfoIMG::before{
    content: '';
    display: block;
    width: 100vw;
    height: 521px;
    background: #FAC832;
    position: absolute;
    right: 100%;
}
.SectionCenter {
    margin: 0 auto 0 auto;
    max-width: 1258px;
}
.infoSectionImg2{
    position: absolute;
    width: 228px;
    height: 228px;
    border-radius: 50%;
    background: url('../img/Ellipse 39.png') no-repeat #EEBF3A;
    z-index: 3;
    top: calc(100% - 217px);
    left: calc(100% + 41px);
    background-size: 100% 100%;
}
.infoSectionImg2Substrate{
    height: 245px;
    width: 245px;
    background: url('../img/EllipseInfo2.png') no-repeat; 
    position: absolute;
    z-index: 2;
    left: calc(100% + 33px);
    top: calc(100% - 225px);
    background-size: 100% 100%;
    }
.howHelp {
    min-height: 541px;
    background: #f6f6f6;
    border-bottom: 1px solid #eebf3a;
}
.howHelpHeading{
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    text-align: center;
    margin: 0;
    padding: 80px 0 0 0 ;
}
.wrapper_card{
    margin: 32px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.how_help_card{
    height: 240px;
    width: 166px;
    position: relative;
}
.how_help_img{
    width: 150px;
    height: 150px;
    background: #F6F6F6;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    border-radius: 50%;
    margin: 0 0 0 8px;
}
.how_help_img:hover{
    background: #FAFAFA;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
}
.how_help_img:active{
    background: linear-gradient(147.91deg, #F1F0F0 17.56%, #EEEEEE 52.29%, #F1F1F1 84.92%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: -6px -6px 16px rgba(224, 224, 224, 0.6), 6px 6px 16px rgba(255, 255, 255, 0.77);
}
.how_help_img svg {
    width: 80px;
    height: 80px;
    margin: 35px 0 0 35px;
}
.how_help_img a{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.how_help_card p {
    margin: 24px 0 0 0 ;
    width: 166px;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #474747;
}
.howHelpCenterIMG{
    position: relative;
    height: 144px;
    width: 265px;
    background-color: #f6f6f6;
    top: 75px;
    left: calc(50% - 135px);
    z-index: 2;

}
.petСhoice{
    background: #f6f6f6;
    position: relative;
    z-index: 1;

}
.howHelpCenterIMG:before {
    content: '';
    width: 174px;
    height: 144px;
    position: absolute;
    top: 0px;
    left: 44px;
    background: url('../img/Frame 111.png') no-repeat;
    background-size: 100% 100%;

}
.pet_Сhoice_Option{
    height: 184px;
    width: 389px;
    margin: 142px 0 0 0;
}
.pet_Сhoice_Option h3{
    margin: 0;
    width: 389px;
    height: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}
.pet_Сhoice_Option p{
    margin: 0;
    width: 389px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}
.margiLeft90px{
    margin-left: 90px;
}
.listPet h3{
    width: 368px;
    height: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #242424;
    margin: 50px auto 0 auto;
}
.listPetCard{
    width: 100%;
    max-width: 368px;
    min-height: 555px;
    background: #F6F6F6;
    box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
    border-radius: 5px;
    margin: 32px 21px 0 0;
}
.listPetCard img{
    height: 356px;
    width: 335px;
    margin: 16px 16px 0 16px;
}
.listPetCard h4{
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    color: #242424;
    margin: 8px 16px 0 16px;
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px
}
.listPetCard a {
    height: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #AD7F00;
    text-decoration: none;
    margin: 0 0 0 16px;
    border-bottom: 1px solid #AD7F00;
}
.listPetCard a:hover{
   color:  #523C00;
    border-bottom: 1px solid #523C00;

}
.listPetCard a:active{
    color: #F6B400;
    border-bottom: 1px solid #F6B400;
}
.listPetCard a:disabled{
    color: #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
}
.blackColorListPet {
    height: 64px;
    width: 335px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    margin: 6px 16px 0 16px;
}
.grayColorListPet{
    height: 20px;
    color: #6B6B6B;
    margin: 18px 16px 0 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.control_list_pet{
    width: 100%;
    height: 80px;
    margin: 24px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.wrap_conrol_buton{
    width: 300px;
}
.yellowButtomTake{
    height: 42px;
    width: 209px;
    background: #FBC832;
    border-radius: 58px;
margin: 35px 80px 0 80px;
}
.yellowButtomTake a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #242424;
    text-align: center;
    display: block;
}

.whiteButtomTemporary{
    height: 42px;
    width: 296px;
    border: 2px solid #FFC41E;
    border-radius: 58px;
    margin: 22px 36px 20px 36px;
}
.whiteButtomTemporary a {
   text-decoration: none;
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #242424;
}
.allPets{
    position: relative;
    height: 32px;
    width: 204px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px solid #AD7F00;
    color: #AD7F00;
    margin: 24px auto 0 auto;
    cursor: pointer;
}
.allPets svg {
    position: absolute;
    top: 11px;
    left: 218px;
}
.petChoiseLast p{
    height: 48px;
    width: 583px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    margin: 65px 0 75px 0;
display: inline-block;
}
.choiseSocial{
    width: 130px;
    height: 49px;
    display: flex;
    margin: 65px 0 75px 38px;
}
.choiseSocial a{
    width: 49px;
    height: 49px;
    display: block;
    box-sizing: border-box;
    border: 2px solid #FFC41E;
    border-radius: 50%;
}
.choiseVK{
    position: relative;
    top: 15px;
    left: 8px;
}
.choiseINST{
    position: relative;
    top: 9px;
    left: 10px;
}
.financeBottom{
    min-height: 93px;
    border-bottom: 1px solid #EEBF3A;
}
.financeWraper{
   min-height: 429px;
    max-width: 875px;
    margin: 104px auto 0 auto;
}
.financeWraper h4{
    width: 758px;
    height: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    text-align: center;
    margin: 0 auto 0 auto;
}
.financeWraper>p{
    width: 758px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #6B6B6B;
    margin: 24px auto 0 auto;
    text-align: center;
}
.frontImgFinance{
    width: 306px ;
    height: 126px;
    position: absolute;
    top: 30px;
    left: calc(50vw - 154px);
    z-index: 2;
    background-color: #FFFFFF;
}
.frontImgFinance:before {
    content: '';
    width: 174px;
    height: 129px;
    position: absolute;
    top:0 ;
    left: 66px;
    background: url('../img/Frame 11.png') no-repeat;
    background-size: 100% 100%;
}
.financeListInfo{
    width: 389px;
    margin: 40px 0 56px 0 ;
}
.financeListInfo p{
    height: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;
}
.control_arrow:hover{
    background: #FAFAFA;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
}
.control_arrow:active{
    background: linear-gradient(147.91deg, #F1F0F0 17.56%, #EEEEEE 52.29%, #F1F1F1 84.92%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: -6px -6px 16px rgba(224, 224, 224, 0.6), 6px 6px 16px rgba(255, 255, 255, 0.77);
}
.control_arrow{
    width: 77px;
    height: 77px;
    background: #F6F6F6;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    border-radius: 50%;
    margin: 0 0 0 0px;
}

.control_arrow a{
    display: block;
    width: 77px;
    height: 77px;
    border-radius: 50%;
}
.control_arrow svg {
    width: 40px;
    height: 40px;
    margin: 18px 0 0 18px;
}
.white_Button{
    cursor: pointer;
    height: 32px;
    max-width: 286px;
    background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
    border-radius: 58px;
    position: relative;
    margin: 27px 0 0 0;
}
.white_Button:after{
    content: '';
    display: block;
    width: 296px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    background: #F6F6F6;
    box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
    top: -5px;
    left: -5px;
    z-index: -1;
}
.white_Button a {
    height: 42px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #242424;
}
.white_Button:hover{
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
}
.white_Button:active{
    background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
}
.white_Button:disabled{
    background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
}
.white_Button a:disabled{
    color: #B3B3B3;
}

.yellowButton{
    cursor: pointer;
    height: 32px;
    max-width: 211px;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    position: relative;
}
.yellowButton:after{
    content: '';
    display: block;
    width: 221px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    border-radius: 58px;
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    top: -5px;
    left: -5px;
    z-index: -1;
}
.yellowButton a {
    height: 42px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
display: block;
    color: #242424;
}
.financeListAdress{
    width: 390px;
    margin: 40px 0 0 0 ;
}
.point{
    height: 24px;
    width: 389px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;

}
.financeListInfo ul{
    height: 164px;
    max-width:389px ;
    margin: 24px 0 24px 0;
    padding-left: 0;
    list-style: none;
}
.financeListInfo ul li{
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
      color: #242424;
    padding-top: 5px;
}
.financeListAdress ul {
    height: 218px;
    max-width: 390px;
    list-style: none;
    padding-left: 0;
    margin: 24px 0 0 0;
}
.financeListAdress ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    padding-top: 5px;
}
.wrapFinanceLists{
    display: flex;
    justify-content: space-around;
}
.things{
    background: #f6f6f6;
}
.thingsBottom{
    min-height: 135px;
    border-bottom: 1px solid #EEBF3A;
}
.frontImgThings{
    width: 214px;
    height: 126px;
    position: absolute;
    top: 63px;
    left: calc(50% - 154px);
    z-index: 2;
    background-color: #f6f6f6;
}
.frontImgThings:before {
    content: '';
    width: 174px;
    height: 129px;
    position: absolute;
    top: 0;
    left: calc(50% - 87px);
    background: url('../img/Frame 13.png') no-repeat;
    background-size: 100% 100%;
}
.things article {
    max-width: 680px;
 margin:103px auto 0 auto;
}
.thingFeed {
    min-height: 212px;
    max-width: 680px;
}
.thingFeed h4 {
    height: 32px;
   font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;

    margin: 0 0 0 0;
}
.decimal{
    list-style-type: none;
}
.left-15px {
    position: relative;
    left: -15px;
}
.thingFeed ul {
    max-width: 680px;
    height: 156px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    padding: 0 0 0 15px;
    margin: 24px 0 0 0;
}
.thingFeed ul li {
    padding-top: 5px;
}
.thingMedicines{
    min-height: 122px;
    max-width: 680px;
    margin: 40px 0 0 0;
}
.thingMedicines h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;
}
.thingMedicines p {
    max-width: 680px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin: 24px 0 0 0;
}

.thingOther{
    min-height: 220px;
    max-width: 680px;
    margin: 40px 0 0 0;
}
.thingOther h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;
}
.thingOther ul{
    max-width: 680px;
    min-height: 164px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    padding: 0 0 0 15px;
    margin: 24px 0 0 0;
 }
.thingOther ul li {
    padding-top: 6px;
}
.thingTransfer{
    height: 40px;
    width: 217px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 58px;
    border-bottom: 1px solid #AD7F00;
    color: #AD7F00;
    margin: 16px 0 0 0;
    cursor: pointer;
}
.seeMap{
    height: 40px;
    width: 201px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 58px;
    border-bottom: 1px solid #AD7F00;
    color: #AD7F00;
    margin: 24px 0 39px 0;
    cursor: pointer;
}
.CarHelpBottom{
     height: 135px;
     border-bottom: 1px solid #EEBF3A;

 }
.frontImgCarHelp{
    width: 214px;
    height: 126px;
    position: absolute;
    top: calc(100% - 62px);
    left: calc(50vw - 154px);
    z-index: 2;
    background-color: #f6f6f6;
}
.frontImgCarHelp:before {
    content: '';
    width: 174px;
    height: 129px;
    position: absolute;
    top: 0;
    left: calc(50% - 87px);
    background: url('../img/Frame 14.png') no-repeat;
    background-size: 100% 100%;
}
.carHelp{
    background: #f6f6f6;
    position: relative;
    z-index: 0;
}
.carHelp article {
    max-width: 680px;
    margin:103px auto 0 auto;
    padding: 0 0 20px 0;
}
.carHelpInfo {
    min-width: 114px;
}
.carHelp h4{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;
}
.carHelp p{
   font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin: 24px 0 0 0;
}
.Volunteering {
    background: #f6f6f6;
    position: relative;
    z-index: 0;
}
.wrapVolunteering {
    max-width: 1064px;
    min-height: 624px;
    margin: 53px auto 0 auto;
}
.VolunteeringBottom{
    min-height: 120px;
    border-bottom: 1px solid #EEBF3A;
}
.frontImgVolunteering{
    width: 214px;
    height: 126px;
    position: absolute;
    top: 72px;
    left: calc(50vw - 154px);
    z-index: 2;
    background-color: #f6f6f6;
}
.frontImgVolunteering:before {
    content: '';
    width: 174px;
    height: 129px;
    position: absolute;
    top: 0;
    left: calc(50% - 87px);
    background: url('../img/Frame 15.png') no-repeat;
}
.VolunteeringText{
    max-width: 466px;
    min-height: 296px;
margin: 0 0 162px 693px;
    padding-top: 113px;
}
.VolunteeringIMG1{
    position: absolute;
    width: 464px;
    height: 464px;
    border-radius: 50%;
    background: url('../img/Ellipse 27.png') no-repeat #EEBF3A;
    right: calc(-464px / 2);
    top: 31px;
    left: -60px;
    z-index: 2;
    background-size: 100% 100%;
}
.VolunteeringIMG1Substrate{
    width: 521px;
    height: 521px;
    background: url('../img/EllipseInfo1.png') no-repeat;
    position: absolute;
    left: -94px;
    top: 0;
    background-size: 100% 100%;
}
.VolunteeringIMG1Substrate:before{
    content: '';
    display: block;
    width: 100vw;
    height: 521px;
    background: #ffc41e;
    position: absolute;
    right: 260px;
}
.VolunteeringText h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0;
}
.VolunteeringText p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin: 24px 0 24px 0 ;
}
.VolunteeringText span{
    padding-top: 1px;
    display: inline-block;
}
.news article{
    max-width: 778px;
    margin: 0 auto;
}
.news h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
       color: #242424;
    margin: 54px 0 0 0 ;
    text-align: center;
}
.novelty{
    width: 100%;
    min-height: 140px;
    display: flex;
    margin-top: 40px;
}
.novelty img {
    border-radius: 50%;
    width: 140px;
    height: 140px;

}
.novelty p{
    height: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin: 0 0 0 34px;
}
.novelty span {
    padding-top: 14px;
    display: inline-block;
}
.allNews{
    height: 40px;
    width: 207px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 58px;
    border-bottom: 1px solid #AD7F00;
    color: #AD7F00;
    margin: 16px 0 56px 0;
    cursor: pointer;
}

.we {
    background: #f6f6f6;
}
.we article {
    max-width: 680px;
     position: relative;
    z-index: 1;
    margin: 0 auto 0 auto;
    padding-top: 56px;
}
.we h4 {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
   text-align: center;
    color: #242424;
    margin: 0 0 0 0;
}
.weHead {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    margin: 24px 0 0 0;
}
.we h5 {
    width: 100%;
    height: 26px;
   font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #242424;
    margin: 24px 0 0 0;
}
.weBody {
    max-width: 680px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #242424;
    margin: 24px 0 0 0;
}
.weBody span {
    display: inline-block;
    padding-top: 10px;
}
.weSocial{
    margin-top: 40px;
    padding-bottom: 45px;
}
.weSocial p {
    width:100%;
    height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #6B6B6B;
    margin: 0 0 0 0;

}
.wrapSocialWe{
    margin: 16px 0 0 0;
}
.circleSoch{
    width: 49px;
    height: 49px;
    background: linear-gradient(145.67deg, #FFFFFF 15.39%, #E4E4E4 88.3%);
    box-shadow: 3px 3px 13px #B1B1B1;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.circleSoch a {
    display: block;
    height: 49px;
    width: 49px;
}
.VkLogo{
    position: absolute;
    top: 16px;
    left: 10px;
}
.VkLogoNav{
    position: absolute;
    top: 16px;
    left: 10px;
}
.circleSoch:after{
    content: '';
    display: block;
    width: 63px;
    height: 63px;
    position: absolute;
    left: -7px;
    top: -7px;
    z-index: -1;
     background: linear-gradient(144.1deg, #FFFFFF 12.45%, #FBFBFB 89.31%);
    box-shadow: 7px 7px 16px rgba(213, 213, 213, 0.6), -6px -6px 8px #FFFFFF, inset 13px 22px 8px #F3F3F3;
    border-radius: 50%;
}
.instLogo{
    position: absolute;
    top: 10px;
    left: 10px;
}

.instLogoNav{
    position: absolute;
    top: 10px;
    left: 10px;
}
.instLogoNav path, .VkLogoNav path {
    box-shadow: 0px 0px 6px #d19b00;
}

.circleSochNav{
    width: 49px;
    height: 49px;
    background: linear-gradient(150.26deg, #FFE28F 6.75%, #ECBD37 91.17%);
    box-shadow: 3px 3px 13px #C18F00;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.circleSoch a {
    display: block;
    height: 49px;
    width: 49px;
}
.VkLogo{
    position: absolute;
    top: 16px;
    left: 10px;
}
.circleSochNav:after{
    content: '';
    display: block;
    width: 63px;
    height: 63px;
    position: absolute;
    left: -7px;
    top: -7px;
    z-index: -1;
    background: linear-gradient(144.1deg, #FFE193 12.45%, #FFC93F 89.31%);
box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #FFDB7E, inset 13px 22px 8px #F1C74F;
    border-radius: 50%;
}

.thank{
width: 100%;
    height: 741px;
    background:url('../img/36164.jpg') no-repeat ;
    background-size: cover;
}
.darkened{
    position: absolute;
    width: 615px;
    height: 521px;
    background:url('../img/Ellipsedarkened.png') no-repeat ;
    mix-blend-mode: soft-light;
    margin-top: 119px;
}
.thankText p{
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    margin: 0;
    top: 303px;
    left: 134px;
}
.thankText:after{
    content: '';
    width: 71px;
    height: 71px;
    background: url(../img/foundation_paw.png) no-repeat;
    position: absolute;
    top: 370px;
    left: 467px;
}
footer{
    background-color: #f6f6f6;
    width: 100%;
    min-height: 117px;
}
.copy {
    width: 184px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #B3B3B3;
    margin: 24px auto 0 auto;
    padding-bottom: 16px;
}
.inline-block {
    display: inline-block;
}
.wrap-footer-list {
    display: flex;
    justify-content: center;
}
.wrap-footer-list ul {
     list-style: none;
    margin: 0;
    padding: 40px 0 0 0;

}
.wrap-footer-list ul li {
display: inline;
    margin-left: 40px;
}
.bold-text-footer a {
    width: 100%;
    height: 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #474747;
    color: #474747;
}
.about-footer {
    padding-left: 82px;
}
.about-footer a{
    width: 100%;
    height: 17px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #242424;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #242424;
}



.circleSoch:hover{
background: linear-gradient(145.67deg, #FFFFFF 15.39%, #FAFAFA 54.13%, #DADADA 88.3%);
box-shadow: 3px 3px 13px #A3A3A3;
}
.circleSoch:active{
    background: linear-gradient(145.67deg, #E4E4E4 16.92%, #F6F6F6 88.3%);
box-shadow: 3px 3px 13px #B2B2B2, inset 4px 4px 7px rgba(192, 192, 192, 0.25);
}

.instLogo path:hover{
fill: #FFB800;
}
.instLogo path:active{
    fill: #E8A700;
    }


.yellowButton a:hover{
        color: #000000;
}
.yellowButton a:active{
    color: #242424;
}
.yellowButton a:disabled{
    color: #6B6B6B;
    opacity: 0.7;
}

.yellowButton:hover{
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.yellowButton:active{
background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.yellowButton:disabled{
background: #FFE7A2;
box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.yellowButton:after:hover{
background: linear-gradient(180deg, #FFDC81 0%, #E6AA00 100%);
box-shadow: 7px 7px 16px #E0E0E0, -3px -4px 8px #FFFFFF, inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.yellowButton:after:active{
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}
.yellowButton:after:disabled{
    background: #FFE7A2;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}



.allPets path:hover {
    fill: #523C00;
}
.allPets path:active {
    fill: #F6B400;
}

.allPets:hover, .seeMap:hover, .thingTransfer:hover, .allNews:hover {
    color: #523C00;
    border-bottom: 1px solid #523C00;
}
.allPets:active, .seeMap:active, .thingTransfer:active, .allNews:active {
    color: #F6B400;
    border-bottom: 1px solid #F6B400;
}
.allPets:disabled, .seeMap:disabled, .thingTransfer:disabled, .allNews:disabled {
    color:  #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
}



.bold-text-footer a:hover, .about-footer a:hover, .styleList a:hover{
border-bottom: 1px solid #000000;
color: #000000;
}

.bold-text-footer a:active, .about-footer a:active, .styleList a:active{
 border-bottom: 1px solid #6B6B6B;
 color: #6B6B6B;
}

.bold-text-footer a:disabled, .about-footer a:disabled, .styleList a:disabled{
    color: #B3B3B3;
    border-bottom: none;
}

.circleSochNav:hover {
background: linear-gradient(150.26deg, #FFE28F 6.75%, #ECBD37 91.17%);
box-shadow: 3px 3px 13px #C18F00;
}
.circleSochNav:active{
background: linear-gradient(150.26deg, #FFDA71 6.75%, #FFCD40 43.24%, #FBC11B 91.17%);
box-shadow: 2px 2px 6px #C18F00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
}

.instLogoNav path:hover, .VkLogoNav path:hover{
    fill: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(144, 93, 0, 0.49);    
}
.instLogoNav path:active, .VkLogoNav path:active{
    background: #F2F2F2;
    box-shadow: 0px 0px 5px #D19B00;    
}