body{
    font-family: Gilroy;
    box-sizing: border-box;
}
.margimLeft30px{
    margin-left: 30px;
}
.margimLeft45px{
    margin-left: 45px;
}
.relative{
    position: relative;
}
.flexConteiner{
    display: flex;
}
.justifyCenter{
    justify-content: center;
}

header{
background: #f6f6f6;
}
.WrapperHead{
    position: relative;
    height: 820px;
    width: 1258px;
    margin: 0 auto 0 auto; 
}
.absolut{
    position: inherit;
    
}
nav{
    display: flex;
    justify-content: space-around;
}
.styleList {
    list-style: none;
    margin: 54px 0 0 0 ;

}
.styleList li{
    display: inline;
}
.styleList a {
text-decoration: none;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #242424;
}
.styleList img {
vertical-align: middle;
}

.circleSocial::before{
content: '';
display: block;
width: 49px;
height: 49px;
border: 2px solid #FFFFFF;
border-radius: 50%;
position: absolute;
top: 40px;
left: 1041px;
}
.circleSocial::after{
    content: '';
    display: block;
    width: 49px;
    height: 49px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 1119px;
    }
.firstPictureHead{
position: absolute;
width: 718px;
height: 713px;
left: 540px;
top: 0;
border-radius: 0 0 8px 8px;
background:url('../img/dog1.png') no-repeat ;
}
.secondPictureHead{
position: absolute;
width: 483px;
height: 469px;
left: 609px;
top: 470px;
background: url('../img/cat1.png') no-repeat;
}
h1 {
width: 659px;
height: 77px;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 87px;
color: #242424;
margin: 90px 0 0 112px;
}
.litleGrayHead{    
width: 659px;
height: 18px;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
color: #6B6B6B;
margin: 2px 0 0 112px;
}
.litleBoldBlackHead {
width: 659px;
height: 44px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
color: #474747;
margin: 12px 0 0 112px;
}
.bigStyleHead{
width: 428px;
height: 116px;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #C78100;
margin: 43px 0 0 112px;
}
.WrapTextHead{
    position: absolute;
    z-index: 2;
}
.WrapTextHead a {
height: 42px;
width: 182px;
text-decoration: none;
background: #FBC832;
border-radius: 58px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 40px;
color: #000000;
display: block;
text-align: center;
margin: 49px 0 0 112px;
cursor: pointer;
}
.opacityHead{
    height: 406px;
    width: 772px;
    position: absolute;
    top: 370px;
}
.opacityTextOne{
width: 599px;
height: 192px;
background: #FFFFFF;
opacity: 0.5;
background: url('../img/can.png') no-repeat;
}
.opacityTextTwo{
    width: 534px;
    height: 107px;
    background: #FFFFFF;
    opacity: 0.6;
    background: url('../img/best.png') no-repeat;
}
.opacityTextThree{
    width: 474px;
    height: 107px;
    background: #FFFFFF;
    opacity: 0.5;
    background: url('../img/friend.png') no-repeat;
    margin: 0 0 0 298px;
}
.infoForVisitor{
height: 650px;
background-color: #FFFFFF;
}
.wrapInfoForVisitor{
    position: absolute;
    left: calc(100% + 342px);
    top: 74px;
    width: 465px;
}
.wrapInfoForVisitor h2{
    height: 94px;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #C78100;
}
.wrapInfoForVisitor p {
   
font-size: 16px;
line-height: 140%;
color: #242424;
}
.infoSectionImg1{
    position: absolute;
    width: 464px;
    height: 464px;
    border-radius: 50%;
    background: url('../img/Ellipse 25.png') no-repeat #EEBF3A;
    right: calc(-464px / 2);
    top: 31px;
    z-index: 2;
}
.infoSectionImg1Substrate{
width: 521px;
height: 521px;
background: url('../img/EllipseInfo1.png') no-repeat; 
position: absolute;
left: calc(100% - 261px);
}
.WrapInfoIMG{
height: 521px;
max-width: 317px;
width: 100%;
background: #FAC832;
margin: 54px 0 0 0;
position: relative;
z-index: 0;
}
.WrapInfoIMG::before{
    content: '';
    display: block;
    width: 100vw;
    height: 521px;
    background: #FAC832;
    position: absolute;
    right: 100%;
}
.SectionCenter {
    margin: 0 auto 0 auto;
    width: 1258px;
}
.infoSectionImg2{
    position: absolute;
    width: 228px;
    height: 228px;
    border-radius: 50%;
    background: url('../img/Ellipse 39.png') no-repeat #EEBF3A;
    z-index: 3;
    top: calc(100% - 217px);
    left: calc(100% + 41px);
}
.infoSectionImg2Substrate{
    height: 245px;
    width: 245px;
    background: url('../img/EllipseInfo2.png') no-repeat; 
    position: absolute;
    z-index: 2;
    left: calc(100% + 33px);
    top: calc(100% - 225px);
    }
.howHelp {
    min-height: 491px;
    background: #f6f6f6;
    border-bottom: 1px solid #eebf3a;
}
.howHelpHeading{
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    text-align: center;
    margin: 0;
    padding: 64px 0 0 0 ;
}
.wrapperCard{
    margin: 32px 0 0 0;
    display: flex;
    justify-content: center;
}

.howHelpCard{
    height: 190px;
    width: 140px;
    margin-right: 56px;
}
.howHelpCard img{
    margin: 0 0 0 15px;
    width: 110px;
    height: 110px;
}
.howHelpCard p {
    margin: 20px 0 0 0 ;
    width: 140px;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #474747;
}
.howHelpCenterIMG{
    position: relative;
    height: 144px;
    width: 265px;
    background-color: #f6f6f6;
    top: 116px;
    left: calc(50% - 135px);
}
.petСhoice{
    background: #f6f6f6;
}
.howHelpCenterIMG:before {
    content: '';
    width: 174px;
    height: 144px;
    position: absolute;
    top: 0px;
    left: 44px;
    background: url('../img/Frame 111.png') no-repeat;
}
.petСhoiceOption{
    height: 184px;
    width: 389px;
    margin: 142px 0 0 0;
}
.petСhoiceOption h3{
    margin: 0;
    width: 389px;
    height: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}
.petСhoiceOption p{
    margin: 0;
    width: 389px;
    height: 132px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}
.margiLeft90px{
    margin-left: 90px;
}
.listPet h3{
    width: 368px;
    height: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #242424;
    margin: 50px auto 0 auto;
}
.listPetCard{
    width: 100%;
    max-width: 368px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    margin: 32px 0 0 0;
    display: inline-block;
}
.listPetCard img{
    height: 356px;
    width: 335px;
    margin: 16px 16px 0 16px;
}
.listPetCard h4{
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    color: #242424;
    margin: 8px 16px 0 16px;
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px
}
.blackColorListPet {
    height: 95px;
    width: 335px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    margin: 6px 16px 0 16px;
}
.grayColorListPet{
    height: 20px;
    color: #6B6B6B;
    margin: 18px 16px 0 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.yellowButtomTake{
    height: 42px;
    width: 209px;
    background: #FBC832;
    border-radius: 58px;
margin: 35px 80px 0 80px;
}
.yellowButtomTake a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #242424;
    text-align: center;
    display: block;
}

.whiteButtomTemporary{
    height: 42px;
    width: 296px;
    border: 2px solid #FFC41E;
    border-radius: 58px;
    margin: 22px 36px 20px 36px;
}
.whiteButtomTemporary a {
   text-decoration: none;
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #242424;
}
.allPets{
    position: relative;
    height: 32px;
    width: 204px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px solid #AD7F00;
    color: #AD7F00;
    margin: 20px auto 0 auto;
    cursor: pointer;
}
.allPets svg {
    position: absolute;
    top: 11px;
    left: 218px;
}
.petChoiseLast p{
    height: 48px;
    width: 583px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    margin: 65px 0 0 0;
display: inline-block;
}
.choiseSocial{
    width: 130px;
    height: 49px;
    display: flex;
    margin: 65px 0 75px 38px;
}
.choiseSocial a{
    width: 49px;
    height: 49px;
    display: block;
    /* position: relative; */
    /* top: -20px; */
    box-sizing: border-box;
    border: 2px solid #FFC41E;
    border-radius: 50%;
}
.choiseVK{
    position: relative;
    top: 15px;
    left: 8px;
}
.choiseINST{
    position: relative;
    top: 9px;
    left: 10px;
}
.financeBottom{
    min-height: 93px;
    border-bottom: 1px solid #EEBF3A;
}
.financeWraper{
   min-height: 429px;
    max-width: 875px;
    margin: 104px auto 0 auto;
}
.financeWraper h4{
    width: 758px;
    height: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    text-align: center;
    margin: 0 auto 0 auto;
}
.financeWraper>p{
    width: 758px;
    height: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #6B6B6B;
    margin: 24px auto 0 auto;
    text-align: center;
}
.frontImgFinance{
    width: 306px ;
    height: 126px;
    position: absolute;
    top: 30px;
    left: calc(50vw - 154px);
    z-index: 2;
    background-color: #FFFFFF;
}
.frontImgFinance:before {
    content: '';
    width: 174px;
    height: 129px;
    position: absolute;
    top:0 ;
    left: 66px;
    background: url('../img/Frame 11.png') no-repeat;
}
.financeListInfo{
    width: 389px;
    margin: 40px 0 56px 0 ;
}
.financeListInfo p{
    height: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;
}
.yellowButton{
    cursor: pointer;
    height: 32px;
    max-width: 211px;
    margin: 29px 0 0 0;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    position: relative;
}
.yellowButton:after{
    content: '';
    display: block;
    width: 221px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    border-radius: 58px;
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    top: -5px;
    left: -5px;
    z-index: -1;
}
.yellowButton a {
    height: 42px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
display: block;
    color: #242424;
}
.financeListAdress{
    width: 390px;
    margin: 40px 0 0 0 ;
}
.point{
    height: 24px;
    width: 389px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;

}
.financeListInfo ul{
    height: 164px;
    max-width:389px ;
    margin: 24px 0 0 0;
    padding-left: 0;
    list-style: none;
}
.financeListInfo ul li{
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
      color: #242424;
    padding-top: 5px;
}
.financeListAdress ul {
    height: 218px;
    max-width: 390px;
    list-style: none;
    padding-left: 0;
    margin: 24px 0 0 0;
}
.financeListAdress ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    padding-top: 5px;
}
.wrapFinanceLists{
    display: flex;
    justify-content: space-around;
}
.things{
    background: #f6f6f6;
}
.thingsBottom{
    min-height: 96px;
    border-bottom: 1px solid #EEBF3A;
}
.frontImgThings{
    width: 214px;
    height: 126px;
    position: absolute;
    top: 30px;
    left: calc(50% - 154px);
    z-index: 2;
    background-color: #f6f6f6;
}
.frontImgThings:before {
    content: '';
    width: 174px;
    height: 129px;
    position: absolute;
    top: 0;
    left: calc(50% - 87px);
    background: url('../img/Frame 13.png') no-repeat;
}
.things article {
    max-width: 680px;
 margin:103px auto 0 auto;
}
.thingFeed {
    min-height: 212px;
    max-width: 680px;
}
.thingFeed h4 {
    height: 32px;
   font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;

    margin: 0 0 0 0;
}
.decimal{
    list-style-type: none;
}
.left-15px {
    position: relative;
    left: -15px;
}
.thingFeed ul {
    max-width: 680px;
    height: 156px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    padding: 0 0 0 15px;
    margin: 24px 0 0 0;
}
.thingFeed ul li {
    padding-top: 5px;
}
.thingMedicines{
    min-height: 122px;
    max-width: 680px;
    margin: 40px 0 0 0;
}
.thingMedicines h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;
}
.thingMedicines p {
    max-width: 680px;
    height: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin: 24px 0 0 0;
}

.thingOther{
    min-height: 220px;
    max-width: 680px;
    margin: 40px 0 0 0;
}
.thingOther h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;
}
.thingOther ul{
    max-width: 680px;
    min-height: 164px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    padding: 0 0 0 15px;
    margin: 24px 0 0 0;
 }
.thingOther ul li {
    padding-top: 6px;
}
.thingTransfer{
    height: 40px;
    width: 217px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 58px;
    border-bottom: 1px solid #AD7F00;
    color: #AD7F00;
    margin: 16px 0 0 0;
    cursor: pointer;
}
.seeMap{
    height: 40px;
    width: 201px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 58px;
    border-bottom: 1px solid #AD7F00;
    color: #AD7F00;
    margin: 24px 0 39px 0;
    cursor: pointer;
}
.CarHelpBottom{
     height: 135px;
     border-bottom: 1px solid #EEBF3A;

 }
.frontImgCarHelp{
    width: 214px;
    height: 126px;
    position: absolute;
    top: 30px;
    left: calc(50vw - 154px);
    z-index: 2;
    background-color: #f6f6f6;
}
.frontImgCarHelp:before {
    content: '';
    width: 174px;
    height: 129px;
    position: absolute;
    top: 0;
    left: calc(50% - 87px);
    background: url('../img/Frame 14.png') no-repeat;
}
.carHelp{
    background: #f6f6f6;
    position: relative;
    z-index: 0;
}
.carHelp article {
    max-width: 680px;
    margin:103px auto 0 auto;
}
.carHelpInfo {
    min-width: 114px;
}
.carHelp h4{
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 0 0;
}
.carHelp p{
    height: 66px;
   font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin: 24px 0 0 0;
}
.Volunteering {
    background: #f6f6f6;
}
.Volunteering article {
    max-width: 1064px;
    border: 1px solid red;
    margin: 53px auto 0 auto;
}
.VolunteeringBottom{
    min-height: 140px;
    border-bottom: 1px solid #EEBF3A;
}
.frontImgVolunteering{
    width: 214px;
    height: 126px;
    position: absolute;
    top: 72px;
    left: calc(50vw - 154px);
    z-index: 2;
    background-color: #f6f6f6;
}
.frontImgVolunteering:before {
    content: '';
    width: 174px;
    height: 129px;
    position: absolute;
    top: 0;
    left: calc(50% - 87px);
    background: url('../img/Frame 15.png') no-repeat;
}
.VolunteeringText{
    max-width: 466px;
    min-height: 296px;
margin: 113px 0 162px 598px;
}
.VolunteeringIMG1{
    position: absolute;
    width: 464px;
    height: 464px;
    border-radius: 50%;
    background: url('../img/Ellipse 27.png') no-repeat #EEBF3A;
    right: calc(-464px / 2);
    top: 31px;
    left: 34px;
    z-index: 2;
}
.VolunteeringIMG1Substrate{
    width: 521px;
    height: 521px;
    background: url('../img/EllipseInfo1.png') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.VolunteeringIMG1Substrate:before{
    content: '';
    display: block;
    width: 100vw;
    height: 521px;
    background: #FAC832;
    position: absolute;
    right: 260px;
}
.VolunteeringText h4 {
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 0;
}
.VolunteeringText p {
    height: 182px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin: 24px 0 0 0 ;
}
.VolunteeringText span{
    padding-top: 2px;
    display: inline-block;
}